
  h4 {
    color: rgb(165, 12, 12);
    font-size: 50px;
    // font-style: italic;
    font-family: Pristina, sans-serif;
    font-weight: bold;
    padding-top: 54px !important;
  }

  h5 {
    color: rgb(165, 12, 12);
    font-size: 25px;
    // font-style: italic;
    font-family: Pristina, sans-serif;
    font-weight: bold;
    padding-top: 34px !important;
  }

  h3 {
    font-size: 26px;
    font-weight: bold;
    padding-left: 12px ;
  }

  h2, .butn {
    padding-left: 12px ;
  }

  h6 {
    font-size: 20px;
    color: gray;
    padding-left: 12px !important;
  }

  .example-card {
    height: 405;
    width: 400px;
  }

  .example-card-mobile {
    max-width: 400px;
    padding-top: 12px !important;
    // height: 600;
    // width: 550px;
  }
  
  .example-header-image {
    background-image: url('https://food-of-dream.com/content/1/1901/b15a719dee19aae4b826513a78525a6c.jpg');
    background-size: cover;
  }



  